.mainWrapper {
  margin-right: auto;
  margin-left: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media print, screen and (min-width: 48em) {
  .mainWrapper {
    width: 90%;
    max-width: 64.0625em;
    min-width: 48rem;
  }
}
@media print, screen and (max-width: 47.96875em) {
  .mainWrapper {
    width: 90vw;
  }
}
.title {
  font-size: 30px;
  font-weight: bold;
  margin: 40px 0 20px;
  background-color: #eee;
  padding: 10px 20px;
  border-radius: 5px;
}
.title .iconMoon {
  margin-left: 14px;
  margin-bottom: 6px;
}

.title2 {
  font-size: 24px;
  font-weight: bold;
  margin: 40px 0 20px;
  padding: 10px 20px 10px 5px;
}
.title2 .iconSun {
  margin-right: 14px;
  margin-bottom: 4px;
}

.blogList > li {
  border-bottom: 1px dashed #5fbbb5;
}
.blogList > li > a > time {
  color: #333;
}

.blogListLink {
  display: inline-block;
  padding: 30px;
  font-size: 20px;
}

.publishedAt1 {
  font-weight: bold;
}

.publishedAt2 {
  display: block;
  margin-bottom: 40px;
  font-weight: bold;
}